.container {
	padding: 0;
}

.toponpage{
	text-align: center;
}

.formulario{
	max-width: 650px;
	text-align: left;
	margin: 20px auto;
}

.wrapper{
	display:grid;
	gap: 10px;
}

.wrapper input{
	width:100%;
	padding: 12px 20px;
 	margin: 8px 0;
  	box-sizing: border-box;
}

.wrapper button{
	background-color: #04AA6D;
	border: none;
	color: white;
	padding: 16px 16px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
	font-size: 24px;
}

.footer{
	items-aling: center;
	margin: auto;
	border: 3px solid green;
}

